<!DOCTYPE html>
<html>

  <head>
    <title>First Teacher</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="background">

      <div class="container all-content">

        <div class="header center">
          <%= image_tag "FT_logo.png", :size => "200x200", class:"logo" %>
        </div>

        <ul class="navigation">  

          <%= link_to mission_path, :class => "nav-item" do %>
            <li>
              Mission
            </li>
          <% end %>
          <%= link_to program_path, :class => "nav-item" do %>
            <li>
              Program
            </li>
          <% end %>
          <%= link_to resources_path, :class => "nav-item" do %>
            <li>
              Books & Resources
            </li>
          <% end %>
          <%= link_to news_path, :class => "nav-item" do %>
            <li>
              News & Events
            </li>
          <% end %>
          <%= link_to contact_path, :class => "nav-item" do %>
            <li>
              Contact
            </li>
          <% end %>
        </ul>

        <!-- Notes to be displayed on sucess/failure events -->
        <div class="center">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>

        <!-- Main content -->
        <div class="main-content">
          <%= yield %>
        </div>
      </div>

  </body>
</html>
